# Display line numbers on the left
set linenumbers
# Display line limit suggestion on right
set guidestripe 80
# Display information all the time at the bottom
set constantshow
# Enable minimal ui combining top and floating infobars at the bottom
set minibar
# Disable hardwrapping
set nowrap
# Enable softwrapping
set softwrap
# Use 4 spaces for tabs
set tabsize 4
# Allow Ctrl+Z to suspend nano
set suspendable
# Syntax highlighting (Debian)
include "/usr/share/nano/*.nanorc"
# Enable regex search
set regexp
# Allow highlighted blocks of text (Ctrl+6/ALT+6) to be deleted
set zap
# Disable justify, which breaks clean pasting when enabled
unbind ^J main
