name: guacamole-stack

services:

  guac-db:
    image: mariadb:10.11
    container_name: guac-db
    hostname: guac-db
    restart: always
    volumes:
      - "../data/mariadb/data:/var/lib/mysql"
      - "../data/mariadb/conf:/etc/mysql/conf.d"

  guacd:
    image: guacamole/guacd:1.6.0
    container_name: guacd
    hostname: guacd
    restart: always
#    environment:
#      - LOG_LEVEL=debug

  guacamole:
    image: guacamole/guacamole:1.6.0
    container_name: guacamole
    hostname: guacamole
    restart: always
    ports:
      - 8080:8080
    environment:
#      - LOG_LEVEL=debug
      - GUACD_HOSTNAME=guacd
      - MYSQL_HOSTNAME=guac-db
      - MYSQL_DATABASE=guacamole_db
      - MYSQL_USERNAME=guacamole_user
      - 'MYSQL_PASSWORD=PASSWORDGOESHERE'
      - REMOTE_IP_VALVE_ENABLED=true


